@model SuperheroProject.Models.Superhero

@{
    ViewBag.Title = "Display";
}

<h2>DisplaySuperheroes</h2>

<div>
    <h4>Superhero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlterEgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catchphrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catchphrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Home", "Index", new { id = Model.SuperheroId })
    @Html.ActionLink("Delete", "Delete", new { id = Model.SuperheroId })
    @Html.ActionLink("Update", "Update", new { id = Model.SuperheroId }) |
</p>
