@model IEnumerable<SuperheroProject.Models.Superhero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SuperheroName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimaryAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Catchphrase)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SuperheroName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlterEgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimaryAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryAbility)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Catchphrase)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id=item.SuperheroId }) |
            @Html.ActionLink("Display", "Display", new { id=item.SuperheroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SuperheroId })
        </td>
    </tr>
}

</table>
